.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
.jumbotron{
    background-color: #9575CD;
}
.navbar-dark {
     background-color: #512DA8;
}
.btns{
    padding:10px;
    margin:10px;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}