.jumbotron{
    background-color: #9575CD;
    padding: 70px 30px;
    margin:0px;
    color:floralwhite;
}
.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.history{
    margin: 0px;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
.navbar-dark {
    background-color: #512DA8;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding:10px;
}